:root {
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --white: #FFFFFF;
}
body {
    font-family: "Roboto", sans-serif; 
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--text);
}
/* header */
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand);
}
.link {
    text-decoration: none;
}
.link:hover, .link:focus {
    color: var(--pressed-state);
}
.logo-studio {
    color: var(--dark);
}
.list {
    list-style-type: none;
}
.list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark);
}
.address {
    font-style: normal;
}
.address-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
}
/* main studio */
/* section 1 */
.hero {
    background: var(--dark);
}
.hero-heading {
    font-size: 56px;
    line-height: 1.07;  
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white);
}
.hero-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;    
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;
}
.list {
    list-style: none;
}
/* section 3 */
.about-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
}
.about-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
}
/* section 3 */
.activity-field-heading {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
}
.list {
    list-style: none;
}
/* section 4 */
.team-heading {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
}
.list {
    list-style: none;
}
.name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
}
 .position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
}
/* footer */
.footer {
    background-color: var(--dark);
}
.footer-studio {
    color: var(--light);
}

/* main Portfolio */
.menu-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-brand);
    background-color: var(--light);
    cursor: pointer;
}
.menu-button:hover, .menu-button:focus {
    color: var(--white);
    background-color: var(--pressed-state);
}
.menu-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
}
.type-of-service {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
}